<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>

  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <form>
          <fieldset>
            <div class="row">
              <div class="col-sm-3 col-lg-2 hidden-xs">
              </div>
              <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                <form (submit)="postReview({id:0,comment:temptext, time:temptime})" method="submit">
                  <textarea class="form-control" name="postbody" [(ngModel)]="temptext"></textarea> <br><br>
                  <input type="submit" class="btn btn-normal pull-right" value="Submit Review"/>
                </form>
              </div>
            </div>
          </fieldset>
        </form>

        <tr *ngFor="let review of reviewList">
          <div class="media">
            <div class="media-body">
              <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
              <p>{{review.id}}</p>
              <p>{{review.comment}}</p>
              <ul class="list-unstyled list-inline media-detail pull-left">
                <li><i class="fa fa-calendar"></i>{{review.time}}</li>
              </ul>
              <ul class="list-unstyled list-inline media-detail pull-right">
              </ul>
            </div>
          </div>
        </tr>

      </div>
    </div>
  </div>
