<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
<div class="container">
  <div class="contentbar">
    <!-- Start row -->
    <div class="row">
      <!-- Start col -->
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card m-b-30">
          <div class="card-header">
            <h5 class="card-title">Cart</h5>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-lg-10 col-xl-8">
                <div class="cart-container">
                  <div class="cart-head">
                    <div class="table-responsive">
                      <table class="table table-borderless">
                        <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Action</th>
<!--                          <th scope="col">Photo</th>-->
                          <th scope="col">Product</th>
                          <th scope="col">Qty</th>
                          <th scope="col">Price</th>
                          <th scope="col" class="text-right">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of cart.items; let i = index">
                          <th scope="row">{{i+1}}</th>
                          <td><a (click)="removeFromCart(item)" class="text-danger"><i class="ri-delete-bin-3-line"></i></a></td>
<!--                          <td><img src="https://themesbox.in/admin-templates/olian/html/light-vertical/assets/images/ecommerce/product_01.svg" class="img-fluid" width="35" alt="product"></td>-->
                          <td>{{item.menuItem.menuItemName}}</td>
                          <td>
                            <div class="form-group mb-0">
                              <input (change)="changeQuantity(item, cartQty1.value)" type="number" class="form-control cart-qty" name="cartQty1" #cartQty1 value="{{item.quantity}}">
                            </div>
                          </td>
                          <td>${{item.menuItem.cost}}</td>
                          <td class="text-right">{{item.getPrice()  | currency}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="cart-body">
                    <div class="row">
                      <div class="col-md-12 Orders-2 Orders-lg-1 col-lg-5 col-xl-6"></div>
                      <div class="col-md-12 Orders-1 Orders-lg-2 col-lg-7 col-xl-6">
                        <div class="Orders-total table-responsive ">
                          <table class="table table-borderless text-right">
                            <tbody>
                            <tr>
                              <td class="f-w-7 font-18"><h4>Amount :</h4></td>
                              <td class="f-w-7 font-18"><h4>{{cart.getTotalPrice() | currency}}</h4></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cart-footer text-right">
                    <button (click)="continueShopping()" type="button" class="btn btn-info my-1"><i class="ri-save-line mr-2"></i>Continue Shopping</button>
                    <a (click)="onSubmit()" class="btn btn-success my-1">Proceed to Checkout<i class="ri-arrow-right-line ml-2"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End col -->
    </div>
    <!-- End row -->
  </div>
</div>
