<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <!-- Heading -->
      <h1 class="mb-4 text-center animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
        Creating beautiful layouts like no one else
      </h1>

      <!-- Text -->
      <p class="mb-6 text-center text-muted animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptas harum aperiam minus corporis, nesciunt nobis quaerat voluptatumunt qui similique.
      </p>

    </div>
  </div> <!-- / .row -->
  <div class="row form-row align-items-center">
    <div class="col-3">

      <div class="img-square">
        <img src="https://via.placeholder.com/768x512/D3D3D3/000000" alt="..." class="img-cover">
      </div>

    </div>
    <div class="col-6">
      <div class="row form-row align-items-end mb-2">
        <div class="col-7">

          <div class="img-square">
            <img src="https://via.placeholder.com/768x512/FFB6C1/000000" alt="..." class="img-cover">
          </div>

        </div>
        <div class="col-5">

          <div class="img-square">
            <img src="https://via.placeholder.com/768x512/87CEFA/000000" alt="..." class="img-cover">
          </div>

        </div>
      </div> <!-- / .row -->
      <div class="row form-row">
        <div class="col-5">

          <div class="img-square">
            <img src="https://via.placeholder.com/768x512/B0C4DE/000000" alt="..." class="img-cover">
          </div>

        </div>
        <div class="col-7">

          <div class="img-square">
            <img src="https://via.placeholder.com/768x512/20B2AA/000000" alt="..." class="img-cover">
          </div>

        </div>
      </div> <!-- / .row -->
    </div>
    <div class="col-3">

      <div class="img-square">
        <img src="https://via.placeholder.com/768x512/FFA07A/000000" alt="..." class="img-cover">
      </div>

    </div>
  </div> <!-- / .row -->
</div>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-dark">About Us</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="job-detail mt-2 p-4">
          <div class="job-detail-desc">
            <p class="text-muted f-14 mb-3">Aliquam erat volutpat Etiam vitae tortor Morbi vestibulum volutpat enim Aliquam nunc Nunc sed turpis sed mollis eros et ultrices tempus mauris ipsum aliquam libero non adipiscing dolor urna a orci Nulla porta dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra inceptos hymenaeos pellentesque dapibus hendrerit tortor Praesent egestas tristique nibh sed a libero cras us varius donec vitae orci sed dolor rutrum auctor fusce egestas elit eget lorem.</p>

            <p class="text-muted f-14 mb-0">Libero venenatis faucibus ullam quis ante tiam sit amet orci eget eros faucibus tincidunt ed fringilla mauris sit amet nibh Donec sodales sagittis magna ed consequat leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi libero usce vulputate eleifend sapien estibulum purus qua scelerisque ut mollis sed nonummy id metus ullam accumsan lorem Vivamus elementum semper enean vulputate eleifend tellus enean leo ligula porttitor.</p>
          </div>
          <hr>
          <ul class="list-inline mt-3 mb-0">
            <li class="list-inline-item mr-3">
              <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-map-marker mr-2"></i>3659 Turkey Pen Road Manhattan, NY 10016</a>
            </li>

            <li class="list-inline-item mr-3">
              <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-web mr-2"></i>Www.webthemes.co.in</a>
            </li>

            <li class="list-inline-item mr-3">
              <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-email mr-2"></i>Webthemes.ltd@gmail.com</a>
            </li>

            <li class="list-inline-item mr-3">
              <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-cellphone-iphone mr-2"></i>123 456 7890</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
