<form [formGroup]="cartService.form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-12 Orders-2 Orders-lg-1 col-lg-5 col-xl-6">
      <input formControlName="firstName" type="text" class="col" placeholder="First Name">
      <mat-error *ngIf="cartService.form.get('firstName')?.invalid">This field is mandatory.</mat-error>
      <input formControlName="lastName" type="text" class="col" placeholder="Last Name">
      <mat-error *ngIf="cartService.form.get('lastName')?.invalid">This field is mandatory.</mat-error>
      <input formControlName="address" type="text" class="col" placeholder="Address">
      <mat-error *ngIf="cartService.form.get('address')?.invalid">This field is mandatory.</mat-error>
    </div>
    <div class="col-md-12 Orders-1 Orders-lg-2 col-lg-7 col-xl-6">
      <div class="Orders-total table-responsive ">
        <table class="table table-borderless text-right">
          <tbody>
          <tr>
            <input formControlName="phoneNumber" type="text" class="col" placeholder="Phone Number">
            <mat-error *ngIf="cartService.form.get('phoneNumber')?.invalid">This field is mandatory.</mat-error>
            <mat-checkbox class="col" formControlName="delivery">Delivery ?</mat-checkbox>
            <button type="submit" class="btn col btn-primary" [disabled]="cartService.form.invalid">Submit</button>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
