<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class=" col text-center">
          <ul class="col container-filter portfolioFilte list-unstyled" id="filter">
            <li><a class="categories active" (click)="loadFilter('*', $event)">All</a></li>
            <li><a class="categories" (click)="loadFilter('.lunch', $event)">Lunch</a></li>
            <li><a class="categories" (click)="loadFilter('.dinner', $event)">Dinner</a></li>
            <li><a class="categories" (click)="loadFilter('.soups', $event)">Soups</a></li>
            <li><a class="categories" (click)="loadFilter('.appetisers', $event)">Appetisers</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="port portfolio-masonry mt-4">
      <div class="portfolioContainer row photo">

        <!-- project -->
        <li class="col-md-6 col-lg-4 project shuffle-item filtered {{a.typeOfMeal}}" *ngFor="let a of menuItems">
          <div class="card mb-0">
            <div class="project m-0">
              <figure class="portfolio-item">
                <div class="hovereffect">
                  <img class="img-responsive" src="https://via.placeholder.com/350x180/E6E6FA/000000" alt="">
                  <div class="overlay">
                    <div class="hovereffect-title project-icons">
                      <a href="#x" data-toggle="modal" data-target=".project-modal2"><i class="fa fa-eye"></i></a>
                      <a href="#" class="image-lightbox" title="{{a.menuItemName}}"><i class="fa fa-share"></i></a>
                    </div>
                    <!-- / project-icons -->
                  </div>
                  <!-- / overlay -->
                </div>
                <!-- / hovereffect -->
              </figure>
              <!-- / portfolio-item -->
            </div>
            <!-- / project -->
            <div class="card-body">
              <a href="single-project2.html" class="card-title title-link fs-16 fw-bold">{{a.menuItemName}}</a>
              <p class="card-text mt-5 mb-0 fs-14"><b>Description:</b>{{a.description}}</p>
              <p class="card-text mt-5 mb-0 fs-14"><b>Cost:</b>{{a.cost}}</p>
            </div>
            <!-- / card-body -->
          </div>
          <!-- / card -->
        </li>
        <!-- / project -->
      </div>
    </div>
  </div>
</section>

