<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<!--<h1 class="display-1 text-primary"> Welcome to our Restaurant! </h1>-->
<!--<br>-->
<!--<button type="button" style="margin:5px" class="btn btn-primary" routerLink="/home">Home</button>-->
<!--<button type="button" style="margin:5px" class="btn btn-primary" routerLink="/menu">Menu</button>-->
<!--<button type="button" style="margin:5px" class="btn btn-primary" routerLink="/cart">Cart</button>-->
<!--<button type="button" style="margin:5px" class="btn btn-primary" routerLink="/reservation">Reservation</button>-->
<!--<button type="button" style="margin:5px" class="btn btn-primary" routerLink="/review">Reviews</button>-->

<app-navbar></app-navbar>
<router-outlet></router-outlet>
