.mat-toolbar {
  background-color: cornflowerblue;
  color: white;
  margin-bottom: 5%;
}

.mat-button {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  font-family: 'Smooch', cursive;
  font-size: 45px;
}
